<div class="container">
  <h1>{{title}}</h1>
</div>

<table class="table" *ngIf="element">
  <thead>
    <tr>
      <th scope="col">userId</th>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">body</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let element of element">
      <th scope="row">{{element['userId']}}</th>
      <td>{{element['id']}}</td>
      <td>{{element['title']}}</td>
      <td>{{element['body']}}</td>
      <td scope="col"><button class="btn btn-danger" (click)="removeData()">Eliminar</button></td>
    </tr>
  </tbody>
</table>